<section id="presentation" class="presentation">
	<div class="content-wrapper">
	    <div class="col-lg-10 col-lg-offset-1">
	        <h3>{{ site.data.[site.lang].presentation.presentation.title }}</h3>
	        <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.data.[site.lang].presentation.presentation.description }}</p>
	    </div>
	</div>
	<div class="content-wrapper">
	    <div class="col-lg-10 col-lg-offset-1">
	        <h3>{{ site.data.[site.lang].presentation.presentation.title_first }}</h3>
	        <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.data.[site.lang].presentation.presentation.before }}</p>
	    </div>
	</div>
</section>