<div class="content-wrapper">
    <div class="col-lg-8 col-lg-offset-2">
        <h3>{{ site.data.[site.lang].presentation.presentation.title }}</h3>
        <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.data.[site.lang].presentation.presentation.description }}</p>
        <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.data.[site.lang].presentation.presentation.objectif }}</p>
    </div>
	<div class="col-lg-8 col-lg-offset-2">
	    <h3>{{ site.data.[site.lang].presentation.presentation.title_first }}</h3>
	    <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.data.[site.lang].presentation.presentation.before }}</p>
	    <img src="{{ site.baseurl_root }}/img/presentation/SnapshotWATSeminaire1.png">
	</div>
</div>